p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }  

  #gallery {
     
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * 30px);
      margin-top: calc(-1 * 30px);
      max-width: 70%;
      margin: 0 auto;
      align-items: center;
     
  }
      #gallery li {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc(100% / 3 - 30px);   
      
    }

    #gallery li:not(:last-child) {
      margin-bottom: 0;
    }

    #gallery li:hover {
        transform: scale(1.25);
        box-shadow: 5px 5px 50px rgba(255, 245, 246, 0.95);
        transition: transform 350ms linear;
      }
     